<footer class="bg-light">
    <div class="container-fluid">
        <div class="row mt-3 p-3">
            <div class="col-12 col-md-4 mt-3 p-1 text-center">
                <img class="navbar-brand logo-footer" src="/img/logo-black.png" alt="">
            </div>
            <div class="col-12 col-md-4 mt-3 p-1 text-center">
                <h3 class="">Cajazeiras - PB</h3>
                <p>Avenida Presidente João Pessoa, Centro 1º andar.</p>
            </div>
            <div class="col-12 col-md-4 mt-3 p-1 text-center">
                <h3>Visite-nos nas redes sociais</h3>
                <div class="footer-social">
                    <a href="https://www.facebook.com/agenciaencarte">
                        <img src="/img/util/face.webp" alt="Instagram">
                        Facebook
                    </a>
                </div>
                <div class="footer-social">
                    <a href="https://www.instagram.com/e_ncarte/?hl=pt"><img src="/img/util/insta.webp" alt="Instagram">
                        Instagram
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>