<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Encarte Digital</title>
</head>
<body>
    <%-include('partials/menu')%>
        <h1 class="display-3">Cliente não encontrado</h1>
    <%-include('partials/footer')%> 
    <%-include('partials/bootstrapjs')%>
</body>
</html>